<!-- ============================ Footer Start ============================ -->
<div class="dashboard-footer">
    <div class="flex-between flex-wrap gap-16">
        <p class="text-gray-300 text-13 fw-normal">Centro Infantil Agroecologico la Granja</p>
        <div class="flex-align flex-wrap gap-16">
            <p class="text-gray-300 text-13 fw-normal hover-text-main-600 hover-text-decoration-underline">
                <strong>Tel: </strong>8841 9386</p>
            <a href="https://www.facebook.com/CentroInfantilAgroecologicoLaGranja/?locale=es_LA"
               class="text-gray-300 text-13 fw-normal hover-text-main-600 hover-text-decoration-underline">Facebook</a>
        </div>
    </div>
</div>
<!-- ============================ Footer End ============================ -->