﻿
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KinderCare</title>
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/home/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <noscript><link rel="stylesheet" href="~/css/home/noscript.css" /></noscript>

    <!-- Preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body class="is-preload">

    @await Html.PartialAsync("_NavbarLayout")

    <!-- Wrapper -->
    <div id="wrapper">
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer id="footer" class="wrapper alt">
        <div class="inner">
            <ul class="menu">
                <li>&copy; Untitled. All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/js/home/jquery.min.js"></script>
    <script src="~/js/home/jquery.scrollex.min.js"></script>
    <script src="~/js/home/jquery.scrolly.min.js"></script>
    <script src="~/js/home/browser.min.js"></script>
    <script src="~/js/home/breakpoints.min.js"></script>
    <script src="~/js/home/util.js"></script>
    <script src="~/js/home/main.js"></script>


    @RenderSection("Scripts", required: false)

</body>
</html>