@model kinder_care.Models.Docentes

@{
    ViewBag.Title = "Crear Perfiles de Docentes";
    Layout = "_SecondaryLayout";
}

<section id="manageRoles" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h2>Gestión de Docentes</h2>
        <p>Administra los roles de los usuarios en el sistema, asignando o removiendo permisos según sea necesario.</p>

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label for="IdUsuarioNavigation.Nombre" class="form-label">Nombre Docente</label>
                <input type="text" class="form-control" asp-for="IdUsuarioNavigation.Nombre" id="IdUsuarioNavigation.Nombre" />
                <span asp-validation-for="IdUsuarioNavigation.Nombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="IdUsuarioNavigation.ContrasenaHash" class="form-label">Contraseña</label>
                <input class="form-control mb-3" type="text" placeholder="Contraseña" required asp-for="IdUsuarioNavigation.ContrasenaHash" />
                <span asp-validation-for="IdUsuarioNavigation.ContrasenaHash" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="IdUsuarioNavigation.NumTelefono" class="form-label">Numero de telefono</label>
                <input class="form-control mb-3" type="number" placeholder="Numero telefono" required asp-for="IdUsuarioNavigation.NumTelefono"
                       style="background-color: black; color: white; border-color: white;" />
                <span asp-validation-for="IdUsuarioNavigation.NumTelefono" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="IdUsuarioNavigation.Direccion" class="form-label">Direccion</label>
                <input class="form-control mb-3" type="text" placeholder="Direccion" required asp-for="IdUsuarioNavigation.Direccion" />
                <span asp-validation-for="IdUsuarioNavigation.Direccion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="IdUsuarioNavigation.CorreoElectronico" class="form-label">Correo Electronico</label>
                <input class="form-control mb-3" type="text" placeholder="Correo" required asp-for="IdUsuarioNavigation.CorreoElectronico" />
                <span asp-validation-for="IdUsuarioNavigation.CorreoElectronico" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label ="GrupoAsignado" class="control-label">Grupo Asignado</label>
                <input class="form-control mb-3" type="text" placeholder="Grupo" required asp-for="GrupoAsignado" />
                <span asp-validation-for="GrupoAsignado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label ="FechaNacimiento" class="control-label">Fecha de nacimiento</label>
                <input class="form-control mb-3" type="date" asp-for="FechaNacimiento"
                       style="background-color: black; color: white; border-color: white;" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>

            <button class="btn btn-primary" type="submit">Editar</button>
            </hr>
            <div>
                <a asp-action="Index" asp-controller="Docentes" class="button primary">Regresar</a>
            </div>

            @if (ViewData["Mensaje"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Mensaje"]
                </div>
            }

        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}