<section id="configuration" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h2>Configuración</h2>
        <p>Aquí puedes configurar las opciones del sistema y administrar tu perfil.</p>
        <div class="row" id="configurationOptionsContent">
        </div>
    </div>
</section>

<script src="~/js/home/partials/configuration.js"></script>