@using System.Security.Claims;

@{
    var RoleName = User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
}

<section id="dashboard" class="wrapper style1 fullscreen intro fade-up">
    <div class="inner" id="dashboardContent">
        @if (RoleName == "Administrador")
        {
            <h1>Bienvenido Administrador</h1>
            <p>Este es tu panel de control. Aquí puedes gestionar roles, expedientes y pagos.</p>
            <ul class="actions">
                <li><a href="/Users/ManageRoles" class="button scrolly">Gestionar Roles</a></li>
                <li><a href="/Users/ManageRecords" class="button scrolly">Gestionar Expedientes</a></li>
                <li><a href="/Payments/ManagePayments" class="button scrolly">Gestionar Pagos</a></li>
            </ul>
            
        }else if (RoleName == "Docente")
        {
            <h1>Bienvenido Maestro</h1>
            <p>Este es tu panel de control. Aquí puedes gestionar las asistencias y el progreso académico de tus alumnos.</p>
            <ul class="actions">
                <li><a href="/Enrollment/AttendanceRecord" class="button scrolly">Gestionar Asistencias</a></li>
                <li><a href="/Enrollment/AcademicRecord" class="button scrolly">Gestionar Evaluaciones</a></li>
            </ul>
        }
        else
        {
            <h1>Bienvenido Padre</h1>
            <p>Este es tu panel de control. Aquí puedes ver la información de tus hijos y sus actividades.</p>
            <ul class="actions">
                <li><a href="/Enrollment/StudentProfile" class="button scrolly">Ver Perfil de Hijos</a></li>
                <li><a href="/Events/Calendar" class="button scrolly">Ver Actividades</a></li>
                <li><a href="/Payments/FinanceDetails" class="button scrolly">Ver Pagos</a></li>
            </ul>
        }
    </div>
</section>