<section id="enrollment" class="wrapper style3 fullscreen fade-up">
    <div class="inner" id="enrollmentContent">
        <h2>Gestión de Matrículas</h2>
        <p>Aquí puedes gestionar y ver la información relacionada con las matrículas, perfiles de los niños, y registros académicos.</p>
        <div class="features" id="featuresContent">
        </div>
    </div>
</section>

<script src="~/js/home/partials/enrollment.js"></script>