<section id="payments" class="wrapper style1 fullscreen fade-up">
    <div class="inner" id="paymentsContent">
        <h2>Gestión de Pagos y Mensualidades</h2>
        <p>Aquí puedes gestionar y ver los detalles financieros relacionados con las mensualidades y otros pagos.</p>
        <div class="features" id="featuresPaymentsContent">
        </div>
    </div>
</section>

<script src="~/js/home/partials/payments.js"></script>