@using System.Security.Claims;

@{
var RoleName = User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
}

<section id="payments" class="wrapper style1 fullscreen fade-up">
    <div class="inner" id="paymentsContent">
        <h2>Gestión de Pagos y Mensualidades</h2>
        <p>Aquí puedes gestionar y ver los detalles financieros relacionados con las mensualidades y otros pagos.</p>
        <div class="features" id="featuresPaymentsContent">
        </div>
        @if (RoleName == "Administrador")
        {
            <section>
                <ul class="actions">
                    <li><a href="/Payments/ManagePayments" class="button scrolly"><i class="fa-solid fa-money-check-alt large-icon"></i>Gestión de Pagos</a></li>
                </ul>
                <p>Gestiona todos los pagos y mensualidades dentro del sistema.</p>
            </section>
            <section>
                <ul class="actions">
                    <li><a href="/Payments/FinanceDetails" class="button scrolly"><i class="fa-solid fa-file-invoice-dollar large-icon"></i>Detalles Financieros</a></li>
                </ul>
                <p>Consulta y administra los detalles financieros completos de todos los estudiantes.</p>
            </section>
        }
        else if (RoleName == "Docente")
        {
            <section>
                <ul class="actions">
                    <li><a href="/Payments/FinanceDetails" class="button scrolly"><i class="fa-solid fa-file-invoice-dollar large-icon"></i>Detalles Financieros</a></li>
                </ul>
                <p>Consulta los detalles financieros de tus pagos.</p>
            </section>
        }
    </div>
</section>