@using System.Security.Claims;

@{
var RoleName = User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
}

<section id="reports" class="wrapper style3 fullscreen fade-up">
    <div class="inner">
        <h2>Generación de Reportes</h2>
        <p>Aquí puedes generar reportes detallados del sistema.</p>
        <div class="row" id="reportOptionsContent">
        </div>
    </div>

    @if (RoleName == "Administrador" || RoleName == "Docente")
    {
        <div class="col-4 col-12-small">
            <section>
                <ul class="actions">
                    <li><a href="/Reports/GenerateReports" class="button scrolly"><i class="fa-solid fa-file-alt large-icon"></i>Generar Reporte General</a></li>
                </ul>
                <p>Genera un reporte completo de las actividades y el desempeño de los estudiantes.</p>
            </section>
        </div>
    }
</section>

