<section id="reports" class="wrapper style3 fullscreen fade-up">
    <div class="inner">
        <h2>Generación de Reportes</h2>
        <p>Aquí puedes generar reportes detallados del sistema.</p>
        <div class="row" id="reportOptionsContent">
        </div>
    </div>
</section>

<script src="~/js/home/partials/reports.js"></script>

