@model IEnumerable<Ninos>

<div class="breadcrumb-with-buttons mb-24 flex-between flex-wrap gap-8">
    <!-- Breadcrumb Start -->
    <div class="breadcrumb mb-24">
        <ul class="flex-align gap-4">
            <li>
                <a asp-action="Index" asp-controller="Home" class="text-gray-200 fw-normal text-15 hover-text-main-600">Inicio</a>
            </li>
            <li>
                <span class="text-gray-500 fw-normal d-flex">
                    <i class="ph ph-caret-right"></i>
                </span>
            </li>
            <li>
                <a asp-action="ListaNinos" asp-controller="Asistencia"
                   class="text-gray-200 fw-normal text-15 hover-text-main-600">Estudiantes</a>
            </li>
            <li>
                <span class="text-gray-500 fw-normal d-flex">
                    <i class="ph ph-caret-right"></i>
                </span>
            </li>
            <li>
                <span class="text-main-600 fw-normal text-15">Control de Asistencias</span>
            </li>
        </ul>
    </div>
    <!-- Breadcrumb End -->
    <!-- Breadcrumb Right Start -->
    <div class="flex-align gap-8 flex-wrap">
        <div class="position-relative text-gray-500 flex-align gap-4 text-13">
            <span class="text-inherit">Buscar por: </span>
            <div
                class="flex-align text-gray-500 text-13 border border-gray-100 rounded-4 ps-20 focus-border-main-600 bg-white">
                <span class="text-lg">
                    <i class="ph ph-funnel-simple"></i>
                </span>
                <select class="form-control ps-8 pe-20 py-16 border-0 text-inherit rounded-4 text-center">
                    <option value="1" selected>Popular</option>
                    <option value="1">Mas recientes</option>
                    <option value="1">Mas buscados</option>
                    <option value="1">Similares</option>
                </select>
            </div>
        </div>
        <div
            class="flex-align text-gray-500 text-13 border border-gray-100 rounded-4 ps-20 focus-border-main-600 bg-white">
            <span class="text-lg">
                <i class="ph ph-layout"></i>
            </span>
            <select class="form-control ps-8 pe-20 py-16 border-0 text-inherit rounded-4 text-center"
                    id="exportOptions">
                <option value="" selected disabled>Exportar</option>
                <option value="csv">CSV</option>
                <option value="json">JSON</option>
            </select>
        </div>
    </div>
    <!-- Breadcrumb Right End -->
</div>

@if (Model.Any())
{
    <form asp-action="ControlAsistencias" method="post">
        <div class="card overflow-hidden">
            <div class="card-body p-0 overflow-x-auto">
                <table id="studentTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th class="h6 text-gray-300">ID Niño</th>
                        <th class="h6 text-gray-300">Estudiante</th>
                        <th class="h6 text-gray-300">Presente</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var estudiante in Model)
                    {
                        <tr>
                            <td>
                                <span class="h6 mb-0 fw-medium text-gray-300">@estudiante.IdNino</span>
                            </td>
                            <td>
                                <span class="h6 mb-0 fw-medium text-gray-300">@estudiante.NombreNino</span>
                            </td>
                            <td>
                                <input type="checkbox" name="estudiantesPresentes" value="@estudiante.IdNino"/>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-footer flex-between flex-wrap">
            <button type="submit" class="btn btn-main">Confirmar</button>
        </div>
    </form>
}
else
{
    <div class="alert alert-info">
        @ViewBag.Mensaje
    </div>
}

<div class="card-footer flex-between flex-wrap">
    <span class="text-gray-900">Mostrando @Model!.Count() de un maximo de 10 entrantes</span>
    <ul class="pagination flex-align flex-wrap">
        <div class="card-footer flex-between flex-wrap">
        </div>
    </ul>
</div>