@{
    ViewBag.Title = "Gestión de Pagos";
    Layout = "_SecondaryLayout";
}

<section id="managePayments" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h2>Gestión de Pagos</h2>
        <p>Administra y revisa los pagos realizados por los padres, incluyendo las fechas, montos, y estado de los pagos.</p>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Fecha de Pago</th>
                        <th>Nombre del Estudiante</th>
                        <th>Nombre del Padre</th>
                        <th>Monto</th>
                        <th>Estado del Pago</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>05/10/2024</td>
                        <td>Carlos Hernandez</td>
                        <td>Maria Lopez</td>
                        <td>$150</td>
                        <td>Completado</td>
                        <td>
                            <ul class="actions">
                                <li><a href="#" class="button small">Ver Detalles</a></li>
                                <li><a href="#" class="button small alt">Editar Pago</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>15/09/2024</td>
                        <td>Lucia Gómez</td>
                        <td>Juan Gómez</td>
                        <td>$150</td>
                        <td>Pendiente</td>
                        <td>
                            <ul class="actions">
                                <li><a href="#" class="button small">Ver Detalles</a></li>
                                <li><a href="#" class="button small alt">Recordar Pago</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ul class="actions">
            <li><a href="#" class="button primary">Registrar Nuevo Pago</a></li>
        </ul>
    </div>
</section>