@{
    ViewBag.Title = "Generación de Reportes";
    Layout = "_SecondaryLayout";
}

<section id="generateReports" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h2>Generación de Reportes</h2>
        <p>Genera reportes detallados sobre asistencia, desempeño académico, pagos, y más.</p>

        <div class="report-options">
            <div class="row">
                <div class="col-4 col-12-small">
                    <section>
                        <h3>Reporte de Asistencia</h3>
                        <p>Genera un reporte detallado de la asistencia de los estudiantes.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">Generar Reporte</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-4 col-12-small">
                    <section>
                        <h3>Reporte Académico</h3>
                        <p>Genera un reporte del rendimiento académico de los estudiantes.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">Generar Reporte</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-4 col-12-small">
                    <section>
                        <h3>Reporte de Pagos</h3>
                        <p>Genera un reporte financiero detallado de los pagos realizados y pendientes.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">Generar Reporte</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>