@model kinder_care.Models.ViewModels.UsuarioVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Access</title>
</head>

<body class="bg-dark">
    <div class="bg-dark py-3 py-md-5">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
                    <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-5 text-center">
                                    <h3>Inicio de Sesion</h3>
                                </div>
                            </div>
                        </div>
                        <form class="text-center" method="post">
                            <div class="row gy-3 gy-md-4 overflow-hidden">
                                <div class="col-12">
                                    <label for="email" class="form-label">Nombre de usuario</label>
                                    <input type="text" class="form-control" placeholder="Username123.." required asp-for="Nombre">
                                </div>
                                <div class="col-12">
                                    <label for="password" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" placeholder="***..." required asp-for="ContrasenaHash">
                                </div>
                                @if (ViewData["Mensaje"] != null)
                                {
                                    <span class="text-danger">
                                        @ViewData["Mensaje"]
                                    </span>
                                }
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn btn-lg btn-primary" type="submit">Ingresar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-12">
                                <hr class="mt-5 mb-4 border-secondary-subtle">
                                <a class="text-center link-secondary text-decoration-none" asp-action="Register" asp-controller="Access">Registrarme</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>